*{
	margin: 0;
	padding: 0;
}
body{
	background: #414950;
	}

div{
font-size: large;
text-align: center;
}

h1{
	text-align: center;
}
h2{
	text-align: center;
}


section{
margin: 50px auto;
width: 125px;
height: 150px;

}



.redes{
background-color: rgb(0, 0, 0);
color: white;
}


nav{
	width: 100%;
	position: absolute;
	left: 0%;
	top: 40%
}
.menu{
	font-family: "impact";
	font-size: 16pt;
	

}
.menu ul{
	list-style: none;
	display: flex;
	text-align: center;
	
}
.menu ul li{

	padding: 20px;
	flex-grow: 1;
	transition: background-color .2s linear;
	border: solid 1px transparent;
	
}
.menu ul li a{
	text-decoration:none;
	color: #f2f2f2;
	}
.menu ul li:hover{
	border: solid 1px rgb(21, 123, 17);
	background-color:transparent !important;
	cursor: pointer;
}
#item1{
	background-color: rgb(0, 0, 0);
}
#item2{
	background-color: rgb(0, 0, 0);
}
#item3{
	background-color: rgb(0, 0, 0);
}

@media (max-width: 520px) {
 .menu ul{
 	display:block;
 }

}